# Dataanalyse

Her analyserer temperaturdata, klimagassutslipp og luftkvalitetsdata ved bruk av funksjoner i `statistikk.py`.

#### Importere nødvendige biblioteker og moduler

In [512]:
import pandas as pd
import numpy as np

import sys, os
sys.path.append(os.path.abspath("../src"))


import importlib
import statistikk
importlib.reload(statistikk)

## Analyse av temperaturdata

I denne seksjonen blir historiske temperaturdata fra Gløshaugen analysert.

### Statistikk for tempraturen hver måned og årlig gjennomsnitt

In [513]:

from statistikk import analyser_temperatur

resultat = analyser_temperatur("../data/temp_gloshaugen_historisk_renset_ 50.csv")


for navn, data in resultat.items():
    print("Statistikk for tempraturen hver måned")
    print(data["samlet_statistikk"])
    if data["årlig_snitt"] is not None:
        print("Årlig gjennomsnitt:")
        print(data["årlig_snitt"])
årlig_snitt = resultat["temperatur"]["årlig_snitt"]

Statistikk for tempraturen hver måned
       år  måned  gjennomsnitt  median  standardavvik
0    1976      1         -4.55   -4.10           4.65
1    1976      2         -2.26   -1.90           4.53
2    1976      3         -1.20   -1.30           4.40
3    1976      4          5.57    5.55           3.81
4    1976      5         12.56   12.50           4.65
..    ...    ...           ...     ...            ...
587  2024     12          1.42    1.70           3.46
588  2025      1         -1.39   -0.90           4.10
589  2025      2         -0.99   -0.85           3.84
590  2025      3          4.08    4.15           4.15
591  2025      4          8.76    8.80           4.08

[592 rows x 5 columns]
Årlig gjennomsnitt:
      år  årsgjennomsnitt
0   1976             6.46
1   1977             6.26
2   1978             5.75
3   1979             5.02
4   1980             5.73
5   1981             5.44
6   1982             6.53
7   1983             7.30
8   1984             6.96
9   1985             4.67
10  1986             5.84
11  1987             4.82
12  1988             6.84
13  1989             7.97
14  1990             8.12
15  1991             6.98
16  1992             7.42
17  1993             5.61
18  1994             6.18
19  1995             6.17
20  1996             5.31
21  1997             7.13
22  1998             6.32
23  1999             6.82
24  2000             7.77
25  2001             6.17
26  2002             6.97
27  2003             6.93
28  2004             7.07
29  2005             7.43
30  2006             7.38
31  2007             7.17
32  2008             7.55
33  2009             6.71
34  2010             4.83
35  2011             7.71
36  2012             6.49
37  2013             6.73
38  2014             8.27
39  2015             7.72
40  2016             7.34
41  2017             6.99
42  2018             7.70
43  2019             7.32
44  2020             8.76
45  2021             7.25
46  2022             7.81
47  2023             6.94
48  2024             7.69
Statistikk for tempraturen hver måned
       år  måned  gjennomsnitt  median  standardavvik
0    1976      1         12.00    12.0           4.93
1    1976      2         12.00    12.0           4.93
2    1976      3         12.00    12.0           4.93
3    1976      4         12.00    12.0           4.93
4    1976      5         12.00    12.0           4.93
..    ...    ...           ...     ...            ...
587  2024     12         11.50    11.5           6.93
588  2025      1         11.50    11.5           6.93
589  2025      2         11.50    11.5           6.93
590  2025      3         11.50    11.5           6.93
591  2025      4         11.32    11.0           6.94

[592 rows x 5 columns]
Årlig gjennomsnitt:
      år  årsgjennomsnitt
0   1976            12.00
1   1977            12.00
2   1978            12.00
3   1979            12.00
4   1980            12.00
5   1981            12.00
6   1982            12.00
7   1983            12.00
8   1984            12.00
9   1985            12.00
10  1986            12.00
11  1987            12.00
12  1988            12.00
13  1989            12.00
14  1990            12.00
15  1991            12.00
16  1992            11.95
17  1993            11.54
18  1994            11.50
19  1995            11.50
20  1996            11.51
21  1997            11.49
22  1998            11.47
23  1999            11.51
24  2000            11.50
25  2001            11.51
26  2002            11.50
27  2003            11.50
28  2004            11.50
29  2005            11.50
30  2006            11.50
31  2007            11.50
32  2008            11.50
33  2009            11.50
34  2010            11.50
35  2011            11.50
36  2012            11.50
37  2013            11.50
38  2014            11.50
39  2015            11.50
40  2016            11.50
41  2017            11.50
42  2018            11.50
43  2019            11.50
44  2020            11.50
45  2021            11.50
46  2022            11.50
47  2023            11.50
48  2024            11.50

### Endring i gjennomsnittstemperatur fra første til siste år

In [514]:
from statistikk import beregn_endring_totalt

# Endring i gjennomsnittstemperatur fra første til siste år
resultat = beregn_endring_totalt(årlig_snitt)
print(f"Endring i temperatur fra {resultat['startår']} til {resultat['sluttår']}:")
print(f"{resultat['endring']:.2f} °C ({resultat['prosent']:.2f} %)")

Endring i temperatur fra 1976 til 2024:
1.23 °C (19.04 %)

### Årlig endring i temperatur

In [515]:
from statistikk import beregn_endring_årlig

endringsdata = beregn_endring_årlig(årlig_snitt, verdikolonne='årsgjennomsnitt')
display(endringsdata.round(2))

      år  årsgjennomsnitt  absolutt_endring  prosent_endring
0   1976             6.46               NaN              NaN
1   1977             6.26             -0.20            -3.10
2   1978             5.75             -0.51            -8.15
3   1979             5.02             -0.73           -12.70
4   1980             5.73              0.71            14.14
5   1981             5.44             -0.29            -5.06
6   1982             6.53              1.09            20.04
7   1983             7.30              0.77            11.79
8   1984             6.96             -0.34            -4.66
9   1985             4.67             -2.29           -32.90
10  1986             5.84              1.17            25.05
11  1987             4.82             -1.02           -17.47
12  1988             6.84              2.02            41.91
13  1989             7.97              1.13            16.52
14  1990             8.12              0.15             1.88
15  1991             6.98             -1.14           -14.04
16  1992             7.42              0.44             6.30
17  1993             5.61             -1.81           -24.39
18  1994             6.18              0.57            10.16
19  1995             6.17             -0.01            -0.16
20  1996             5.31             -0.86           -13.94
21  1997             7.13              1.82            34.27
22  1998             6.32             -0.81           -11.36
23  1999             6.82              0.50             7.91
24  2000             7.77              0.95            13.93
25  2001             6.17             -1.60           -20.59
26  2002             6.97              0.80            12.97
27  2003             6.93             -0.04            -0.57
28  2004             7.07              0.14             2.02
29  2005             7.43              0.36             5.09
30  2006             7.38             -0.05            -0.67
31  2007             7.17             -0.21            -2.85
32  2008             7.55              0.38             5.30
33  2009             6.71             -0.84           -11.13
34  2010             4.83             -1.88           -28.02
35  2011             7.71              2.88            59.63
36  2012             6.49             -1.22           -15.82
37  2013             6.73              0.24             3.70
38  2014             8.27              1.54            22.88
39  2015             7.72             -0.55            -6.65
40  2016             7.34             -0.38            -4.92
41  2017             6.99             -0.35            -4.77
42  2018             7.70              0.71            10.16
43  2019             7.32             -0.38            -4.94
44  2020             8.76              1.44            19.67
45  2021             7.25             -1.51           -17.24
46  2022             7.81              0.56             7.72
47  2023             6.94             -0.87           -11.14
48  2024             7.69              0.75            10.81

### Høyeste og laveste gjennomsnittstemperatur

In [516]:
from statistikk import ekstremverdier

ekstremer = ekstremverdier(årlig_snitt, verdikolonne='årsgjennomsnitt')

print(f"Høyeste år: {ekstremer['maksimum']['år']}. Da var det i gjennomsnitt: {ekstremer['maksimum']['verdi']:.2f} °C")
print(f"Laveste år: {ekstremer['minimum']['år']}. Da var det i gjennomsnitt: {ekstremer['minimum']['verdi']:.2f} °C")

Høyeste år: 2020. Da var det i gjennomsnitt: 8.76 °C
Laveste år: 1985. Da var det i gjennomsnitt: 4.67 °C

### Gjenomsnittet for hvert tiår

In [517]:
from statistikk import tiår_snitt

tiår_snitt = tiår_snitt(årlig_snitt, verdikolonne='årsgjennomsnitt')
display(tiår_snitt.round(2))

   tiår  årsgjennomsnitt
0  1970             5.87
1  1980             6.21
2  1990             6.61
3  2000             7.12
4  2010             7.11
5  2020             7.69

### Temperaturavvik per år

In [518]:
from statistikk import beregn_avvik

avvik_df = beregn_avvik(årlig_snitt)
display(avvik_df.round(2))

      år  årsgjennomsnitt  avvik
0   1976             6.46  -0.32
1   1977             6.26  -0.52
2   1978             5.75  -1.03
3   1979             5.02  -1.76
4   1980             5.73  -1.05
5   1981             5.44  -1.34
6   1982             6.53  -0.25
7   1983             7.30   0.52
8   1984             6.96   0.18
9   1985             4.67  -2.11
10  1986             5.84  -0.94
11  1987             4.82  -1.96
12  1988             6.84   0.06
13  1989             7.97   1.19
14  1990             8.12   1.34
15  1991             6.98   0.20
16  1992             7.42   0.64
17  1993             5.61  -1.17
18  1994             6.18  -0.60
19  1995             6.17  -0.61
20  1996             5.31  -1.47
21  1997             7.13   0.35
22  1998             6.32  -0.46
23  1999             6.82   0.04
24  2000             7.77   0.99
25  2001             6.17  -0.61
26  2002             6.97   0.19
27  2003             6.93   0.15
28  2004             7.07   0.29
29  2005             7.43   0.65
30  2006             7.38   0.60
31  2007             7.17   0.39
32  2008             7.55   0.77
33  2009             6.71  -0.07
34  2010             4.83  -1.95
35  2011             7.71   0.93
36  2012             6.49  -0.29
37  2013             6.73  -0.05
38  2014             8.27   1.49
39  2015             7.72   0.94
40  2016             7.34   0.56
41  2017             6.99   0.21
42  2018             7.70   0.92
43  2019             7.32   0.54
44  2020             8.76   1.98
45  2021             7.25   0.47
46  2022             7.81   1.03
47  2023             6.94   0.16
48  2024             7.69   0.91

## Analyse av klimagassutslipp i verden

Denne seksjonen analyserer globale utslippsdata.

#### Henter inn datasettet med globale klimagassutslipp

In [519]:
statistikk_verden, df_total_verden, df_verden = statistikk.analyser_fil("../data/klimagassutslipp_verden_renset.csv",datokolonne="År",groupby="år")

### Utslipp per tiår i hele verden

In [520]:
from statistikk import tiår_snitt

tiårs_snitt = tiår_snitt(df_verden, verdikolonne='utslipp_i_co2_ekvivalenter')

print("Utslipp per tiår globalt:")
display(tiårs_snitt)

Utslipp per tiår globalt:

   tiår  utslipp_i_co2_ekvivalenter
0  1970                3.164081e+10
1  1980                3.450132e+10
2  1990                3.898718e+10
3  2000                4.445032e+10
4  2010                5.181216e+10
5  2020                5.271885e+10

### Året med høyest og lavest utslipp i verden

In [521]:
from statistikk import ekstremverdier

ekstremer = ekstremverdier(df_verden, verdikolonne='utslipp_i_co2_ekvivalenter')

print(f"Høyeste utslipp: {ekstremer['maksimum']['år']} med {ekstremer['maksimum']['verdi']:.2f}")
print(f"Laveste utslipp: {ekstremer['minimum']['år']} med {ekstremer['minimum']['verdi']:.2f}")

Høyeste utslipp: 2023 med 53816852000.00
Laveste utslipp: 1974 med 30245190000.00

### Endring i klimagassutslipp fra første til siste år

In [522]:
from statistikk import beregn_endring_totalt

resultat_utslipp = beregn_endring_totalt(df_verden, verdikolonne='utslipp_i_co2_ekvivalenter')

print(f"Endring i utslipp fra {resultat_utslipp['startår']} til {resultat_utslipp['sluttår']}:")
print(f"{resultat_utslipp['endring']:.2f} ({resultat_utslipp['prosent']:.2f} %)")

Endring i utslipp fra 1973 til 2023:
23475972000.00 (77.37 %)

### Årlig endring i klimagassutslipp

In [523]:
from statistikk import beregn_endring_årlig

endringsdata = beregn_endring_årlig(df_verden, verdikolonne='utslipp_i_co2_ekvivalenter')
display(endringsdata.round(2))

      år  utslipp_i_co2_ekvivalenter  absolutt_endring  prosent_endring
0   1973                 30340880000               NaN              NaN
1   1974                 30245190000     -9.569000e+07            -0.32
2   1975                 30411125000      1.659350e+08             0.55
3   1976                 31535469000      1.124344e+09             3.70
4   1977                 32603044000      1.067575e+09             3.39
5   1978                 33151205000      5.481610e+08             1.68
6   1979                 33198746000      4.754100e+07             0.14
7   1980                 33347820000      1.490740e+08             0.45
8   1981                 32570309000     -7.775110e+08            -2.33
9   1982                 32320344000     -2.499650e+08            -0.77
10  1983                 32752468000      4.321240e+08             1.34
11  1984                 34383640000      1.631172e+09             4.98
12  1985                 34802164000      4.185240e+08             1.22
13  1986                 35424960000      6.227960e+08             1.79
14  1987                 35869164000      4.442040e+08             1.25
15  1988                 36640596000      7.714320e+08             2.15
16  1989                 36901773000      2.611770e+08             0.71
17  1990                 37335880000      4.341070e+08             1.18
18  1991                 37748945000      4.130650e+08             1.11
19  1992                 37381090000     -3.678550e+08            -0.97
20  1993                 37327962000     -5.312800e+07            -0.14
21  1994                 38563020000      1.235058e+09             3.31
22  1995                 38797140000      2.341200e+08             0.61
23  1996                 40186060000      1.388920e+09             3.58
24  1997                 41658655000      1.472595e+09             3.66
25  1998                 40217952000     -1.440703e+09            -3.46
26  1999                 40655057000      4.371050e+08             1.09
27  2000                 40732266000      7.720900e+07             0.19
28  2001                 40393683000     -3.385830e+08            -0.83
29  2002                 41334140000      9.404570e+08             2.33
30  2003                 43886330000      2.552190e+09             6.17
31  2004                 44371150000      4.848200e+08             1.10
32  2005                 44987160000      6.160100e+08             1.39
33  2006                 46601814000      1.614654e+09             3.59
34  2007                 46866113000      2.642990e+08             0.57
35  2008                 47752990000      8.868770e+08             1.89
36  2009                 47577604000     -1.753860e+08            -0.37
37  2010                 49800950000      2.223346e+09             4.67
38  2011                 51089150000      1.288200e+09             2.59
39  2012                 52088530000      9.993800e+08             1.96
40  2013                 51811950000     -2.765800e+08            -0.53
41  2014                 52359200000      5.472500e+08             1.06
42  2015                 52443984000      8.478400e+07             0.16
43  2016                 51361518000     -1.082466e+09            -2.06
44  2017                 51949548000      5.880300e+08             1.14
45  2018                 52420270000      4.707220e+08             0.91
46  2019                 52796522000      3.762520e+08             0.72
47  2020                 50792542000     -2.003980e+09            -3.80
48  2021                 52938793000      2.146251e+09             4.23
49  2022                 53327217000      3.884240e+08             0.73
50  2023                 53816852000      4.896350e+08             0.92

## Analyse av klimagassutslipp i Norge

Denne seksjonen analyserer historisk klimagassutslipp i Norge.

#### Leser inn data om Norges klimagassutslipp fra en ferdig renset CSV-fil

In [524]:
statistikk_norge, df_total_norge, df_norge = statistikk.analyser_fil("../data/klimagassutslipp_norge_renset.csv", sep=",", datokolonne="år", groupby="år")

### Utslipp i Norge per kilde og år

In [525]:
from statistikk import analyser_utslipp_norge

stats_per_kilde_år = analyser_utslipp_norge(df_norge)

if stats_per_kilde_år is not None:
    display(stats_per_kilde_år)

            kilde_(aktivitet)    år     mean   median
0    1 Olje- og gassutvinning  1990   8254.0   8254.0
1    1 Olje- og gassutvinning  1991   8127.0   8127.0
2    1 Olje- og gassutvinning  1992   8728.0   8728.0
3    1 Olje- og gassutvinning  1993   9257.0   9257.0
4    1 Olje- og gassutvinning  1994  10053.0  10053.0
..                        ...   ...      ...      ...
267            9 Andre kilder  2019   2398.0   2398.0
268            9 Andre kilder  2020   2341.0   2341.0
269            9 Andre kilder  2021   2294.0   2294.0
270            9 Andre kilder  2022   2242.0   2242.0
271            9 Andre kilder  2023   2227.0   2227.0

[272 rows x 4 columns]

### Gjennomsnitts utslipp og median for hver kilde totalt i Norge

In [526]:
from statistikk import gjennomsnitt_per_kilde

stats_per_kilde = gjennomsnitt_per_kilde(df_norge)
display(stats_per_kilde)

                                                     mean   median
kilde_(aktivitet)
2 Industri og bergverk                           14117.50  14322.5
1 Olje- og gassutvinning                         12653.09  13559.0
5 Veitrafikk                                      8881.03   8909.0
6 Luftfart, sj�fart, fiske, motorredskaper m.m.   6904.62   7103.0
7 Jordbruk                                        4788.35   4782.5
9 Andre kilder                                    2778.12   2832.0
4 Oppvarming i andre n�ringer og husholdninger    1726.79   1897.0
3 Energiforsyning                                 1112.26    759.0

### Endring av utslipp i norge fra startår til sluttår

In [527]:
from statistikk import lag_totaldata, beregn_endring_totalt

total = lag_totaldata(df_total_norge)
resultat = beregn_endring_totalt(total, årskolonne='år', verdikolonne='utslipp')

print(f"Endring i utslipp fra {resultat['startår']} til {resultat['sluttår']}:")
print(f"{resultat['endring']:.0f} ({resultat['prosent']:.2f} %)")

Endring i utslipp fra 1990 til 2023:
-4694 (-9.14 %)

### Året med høyest og lavest utslipp i Norge

In [528]:
from statistikk import ekstremverdier

# Filtrer ut "Alle kilder"
df_alle_kilder = df_total_norge[df_total_norge['kilde_(aktivitet)'].str.lower().str.contains("alle kilder")].copy()
ekstremer = ekstremverdier(df_alle_kilder, verdikolonne='utslipp_til_luft_(1_000_tonn_co2-ekvivalenter,_ar5)')

print(f"Høyeste utslipp: {ekstremer['maksimum']['år']} med {ekstremer['maksimum']['verdi']:.0f} (1 000 tonn CO₂-ekv.)")
print(f"Laveste utslipp: {ekstremer['minimum']['år']} med {ekstremer['minimum']['verdi']:.0f} (1 000 tonn CO₂-ekv.)")

Høyeste utslipp: 2007 med 56548 (1 000 tonn CO₂-ekv.)
Laveste utslipp: 2023 med 46654 (1 000 tonn CO₂-ekv.)

### Årlig endring for hver kilde i Norge

In [529]:
from statistikk import beregn_endring_per_kilde

endringer = beregn_endring_per_kilde(stats_per_kilde_år)

for kilde, df_endring in endringer.items():
    print(f"\nEndring for kilde: {kilde}")
    display(df_endring.round(2))

Endring for kilde: 1 Olje- og gassutvinning

      år     mean  absolutt_endring  prosent_endring
0   1990   8254.0               NaN              NaN
1   1991   8127.0            -127.0            -1.54
2   1992   8728.0             601.0             7.40
3   1993   9257.0             529.0             6.06
4   1994  10053.0             796.0             8.60
5   1995  10237.0             184.0             1.83
6   1996  11139.0             902.0             8.81
7   1997  11641.0             502.0             4.51
8   1998  11308.0            -333.0            -2.86
9   1999  11829.0             521.0             4.61
10  2000  13172.0            1343.0            11.35
11  2001  14140.0             968.0             7.35
12  2002  13809.0            -331.0            -2.34
13  2003  13942.0             133.0             0.96
14  2004  14169.0             227.0             1.63
15  2005  14108.0             -61.0            -0.43
16  2006  13706.0            -402.0            -2.85
17  2007  15165.0            1459.0            10.64
18  2008  14810.0            -355.0            -2.34
19  2009  13683.0           -1127.0            -7.61
20  2010  13786.0             103.0             0.75
21  2011  13472.0            -314.0            -2.28
22  2012  13575.0             103.0             0.76
23  2013  13543.0             -32.0            -0.24
24  2014  14231.0             688.0             5.08
25  2015  14770.0             539.0             3.79
26  2016  14472.0            -298.0            -2.02
27  2017  14206.0            -266.0            -1.84
28  2018  14055.0            -151.0            -1.06
29  2019  13888.0            -167.0            -1.19
30  2020  13162.0            -726.0            -5.23
31  2021  12122.0           -1040.0            -7.90
32  2022  12085.0             -37.0            -0.31
33  2023  11561.0            -524.0            -4.34

Endring for kilde: 2 Industri og bergverk

      år     mean  absolutt_endring  prosent_endring
34  1990  19140.0               NaN              NaN
35  1991  17620.0           -1520.0            -7.94
36  1992  15377.0           -2243.0           -12.73
37  1993  16325.0             948.0             6.17
38  1994  17275.0             950.0             5.82
39  1995  16556.0            -719.0            -4.16
40  1996  17165.0             609.0             3.68
41  1997  16854.0            -311.0            -1.81
42  1998  17168.0             314.0             1.86
43  1999  16960.0            -208.0            -1.21
44  2000  16823.0            -137.0            -0.81
45  2001  16301.0            -522.0            -3.10
46  2002  15220.0           -1081.0            -6.63
47  2003  15083.0            -137.0            -0.90
48  2004  15338.0             255.0             1.69
49  2005  14876.0            -462.0            -3.01
50  2006  14484.0            -392.0            -2.64
51  2007  14161.0            -323.0            -2.23
52  2008  13718.0            -443.0            -3.13
53  2009  11231.0           -2487.0           -18.13
54  2010  12025.0             794.0             7.07
55  2011  12034.0               9.0             0.07
56  2012  11741.0            -293.0            -2.43
57  2013  11783.0              42.0             0.36
58  2014  11435.0            -348.0            -2.95
59  2015  11717.0             282.0             2.47
60  2016  11388.0            -329.0            -2.81
61  2017  11797.0             409.0             3.59
62  2018  11820.0              23.0             0.19
63  2019  11372.0            -448.0            -3.79
64  2020  11252.0            -120.0            -1.06
65  2021  11638.0             386.0             3.43
66  2022  11506.0            -132.0            -1.13
67  2023  10812.0            -694.0            -6.03

Endring for kilde: 3 Energiforsyning

       år    mean  absolutt_endring  prosent_endring
68   1990   341.0               NaN              NaN
69   1991   396.0              55.0            16.13
70   1992   390.0              -6.0            -1.52
71   1993   409.0              19.0             4.87
72   1994   466.0              57.0            13.94
73   1995   468.0               2.0             0.43
74   1996   560.0              92.0            19.66
75   1997   493.0             -67.0           -11.96
76   1998   538.0              45.0             9.13
77   1999   523.0             -15.0            -2.79
78   2000   485.0             -38.0            -7.27
79   2001   541.0              56.0            11.55
80   2002   583.0              42.0             7.76
81   2003   715.0             132.0            22.64
82   2004   607.0            -108.0           -15.10
83   2005   591.0             -16.0            -2.64
84   2006   648.0              57.0             9.64
85   2007   948.0             300.0            46.30
86   2008   803.0            -145.0           -15.30
87   2009  2016.0            1213.0           151.06
88   2010  2454.0             438.0            21.73
89   2011  2237.0            -217.0            -8.84
90   2012  1723.0            -514.0           -22.98
91   2013  1770.0              47.0             2.73
92   2014  1767.0              -3.0            -0.17
93   2015  1765.0              -2.0            -0.11
94   2016  1749.0             -16.0            -0.91
95   2017  1906.0             157.0             8.98
96   2018  1901.0              -5.0            -0.26
97   2019  1794.0            -107.0            -5.63
98   2020  1732.0             -62.0            -3.46
99   2021  1764.0              32.0             1.85
100  2022  1493.0            -271.0           -15.36
101  2023  1241.0            -252.0           -16.88

Endring for kilde: 4 Oppvarming i andre n�ringer og husholdninger

       år    mean  absolutt_endring  prosent_endring
102  1990  2755.0               NaN              NaN
103  1991  2490.0            -265.0            -9.62
104  1992  2276.0            -214.0            -8.59
105  1993  2308.0              32.0             1.41
106  1994  2329.0              21.0             0.91
107  1995  2369.0              40.0             1.72
108  1996  2905.0             536.0            22.63
109  1997  2469.0            -436.0           -15.01
110  1998  2237.0            -232.0            -9.40
111  1999  2478.0             241.0            10.77
112  2000  1932.0            -546.0           -22.03
113  2001  2150.0             218.0            11.28
114  2002  2344.0             194.0             9.02
115  2003  2738.0             394.0            16.81
116  2004  2347.0            -391.0           -14.28
117  2005  1862.0            -485.0           -20.66
118  2006  1960.0              98.0             5.26
119  2007  1751.0            -209.0           -10.66
120  2008  1570.0            -181.0           -10.34
121  2009  1707.0             137.0             8.73
122  2010  2010.0             303.0            17.75
123  2011  1468.0            -542.0           -26.97
124  2012  1342.0            -126.0            -8.58
125  2013  1276.0             -66.0            -4.92
126  2014  1052.0            -224.0           -17.55
127  2015   947.0            -105.0            -9.98
128  2016  1045.0              98.0            10.35
129  2017   922.0            -123.0           -11.77
130  2018   797.0            -125.0           -13.56
131  2019   600.0            -197.0           -24.72
132  2020   522.0             -78.0           -13.00
133  2021   545.0              23.0             4.41
134  2022   568.0              23.0             4.22
135  2023   640.0              72.0            12.68

Endring for kilde: 5 Veitrafikk

       år     mean  absolutt_endring  prosent_endring
136  1990   7426.0               NaN              NaN
137  1991   7307.0            -119.0            -1.60
138  1992   7338.0              31.0             0.42
139  1993   7511.0             173.0             2.36
140  1994   7408.0            -103.0            -1.37
141  1995   7527.0             119.0             1.61
142  1996   7902.0             375.0             4.98
143  1997   7887.0             -15.0            -0.19
144  1998   8116.0             229.0             2.90
145  1999   8543.0             427.0             5.26
146  2000   8370.0            -173.0            -2.03
147  2001   8871.0             501.0             5.99
148  2002   8947.0              76.0             0.86
149  2003   9089.0             142.0             1.59
150  2004   9383.0             294.0             3.23
151  2005   9519.0             136.0             1.45
152  2006   9797.0             278.0             2.92
153  2007  10029.0             232.0             2.37
154  2008   9894.0            -135.0            -1.35
155  2009   9741.0            -153.0            -1.55
156  2010   9990.0             249.0             2.56
157  2011   9923.0             -67.0            -0.67
158  2012   9958.0              35.0             0.35
159  2013  10007.0              49.0             0.49
160  2014  10221.0             214.0             2.14
161  2015  10255.0              34.0             0.33
162  2016   9990.0            -265.0            -2.58
163  2017   9124.0            -866.0            -8.67
164  2018   9367.0             243.0             2.66
165  2019   8734.0            -633.0            -6.76
166  2020   8350.0            -384.0            -4.40
167  2021   8712.0             362.0             4.34
168  2022   8703.0              -9.0            -0.10
169  2023   8016.0            -687.0            -7.89

Endring for kilde: 6 Luftfart, sj�fart, fiske, motorredskaper m.m.

       år    mean  absolutt_endring  prosent_endring
170  1990  5298.0               NaN              NaN
171  1991  5109.0            -189.0            -3.57
172  1992  5461.0             352.0             6.89
173  1993  5664.0             203.0             3.72
174  1994  5858.0             194.0             3.43
175  1995  6554.0             696.0            11.88
176  1996  6960.0             406.0             6.19
177  1997  7246.0             286.0             4.11
178  1998  7463.0             217.0             2.99
179  1999  7526.0              63.0             0.84
180  2000  6499.0           -1027.0           -13.65
181  2001  6588.0              89.0             1.37
182  2002  6546.0             -42.0            -0.64
183  2003  6471.0             -75.0            -1.15
184  2004  6584.0             113.0             1.75
185  2005  6428.0            -156.0            -2.37
186  2006  6786.0             358.0             5.57
187  2007  7008.0             222.0             3.27
188  2008  6789.0            -219.0            -3.12
189  2009  6737.0             -52.0            -0.77
190  2010  7198.0             461.0             6.84
191  2011  7289.0              91.0             1.26
192  2012  7493.0             204.0             2.80
193  2013  7605.0             112.0             1.49
194  2014  7653.0              48.0             0.63
195  2015  7470.0            -183.0            -2.39
196  2016  7398.0             -72.0            -0.96
197  2017  7506.0             108.0             1.46
198  2018  7751.0             245.0             3.26
199  2019  7692.0             -59.0            -0.76
200  2020  7384.0            -308.0            -4.00
201  2021  7435.0              51.0             0.69
202  2022  7671.0             236.0             3.17
203  2023  7637.0             -34.0            -0.44

Endring for kilde: 7 Jordbruk

       år    mean  absolutt_endring  prosent_endring
204  1990  5050.0               NaN              NaN
205  1991  4984.0             -66.0            -1.31
206  1992  4956.0             -28.0            -0.56
207  1993  4937.0             -19.0            -0.38
208  1994  4944.0               7.0             0.14
209  1995  4988.0              44.0             0.89
210  1996  5021.0              33.0             0.66
211  1997  4962.0             -59.0            -1.18
212  1998  4954.0              -8.0            -0.16
213  1999  4947.0              -7.0            -0.14
214  2000  4798.0            -149.0            -3.01
215  2001  4739.0             -59.0            -1.23
216  2002  4725.0             -14.0            -0.30
217  2003  4809.0              84.0             1.78
218  2004  4774.0             -35.0            -0.73
219  2005  4791.0              17.0             0.36
220  2006  4697.0             -94.0            -1.96
221  2007  4700.0               3.0             0.06
222  2008  4675.0             -25.0            -0.53
223  2009  4641.0             -34.0            -0.73
224  2010  4553.0             -88.0            -1.90
225  2011  4554.0               1.0             0.02
226  2012  4563.0               9.0             0.20
227  2013  4609.0              46.0             1.01
228  2014  4708.0              99.0             2.15
229  2015  4772.0              64.0             1.36
230  2016  4823.0              51.0             1.07
231  2017  4791.0             -32.0            -0.66
232  2018  4797.0               6.0             0.13
233  2019  4746.0             -51.0            -1.06
234  2020  4756.0              10.0             0.21
235  2021  4815.0              59.0             1.24
236  2022  4706.0            -109.0            -2.26
237  2023  4519.0            -187.0            -3.97

Endring for kilde: 9 Andre kilder

       år    mean  absolutt_endring  prosent_endring
238  1990  3084.0               NaN              NaN
239  1991  2953.0            -131.0            -4.25
240  1992  2924.0             -29.0            -0.98
241  1993  2968.0              44.0             1.50
242  1994  2999.0              31.0             1.04
243  1995  3042.0              43.0             1.43
244  1996  2989.0             -53.0            -1.74
245  1997  3066.0              77.0             2.58
246  1998  2912.0            -154.0            -5.02
247  1999  2891.0             -21.0            -0.72
248  2000  3014.0             123.0             4.25
249  2001  3014.0               0.0             0.00
250  2002  2860.0            -154.0            -5.11
251  2003  2808.0             -52.0            -1.82
252  2004  2824.0              16.0             0.57
253  2005  2720.0            -104.0            -3.68
254  2006  2792.0              72.0             2.65
255  2007  2786.0              -6.0            -0.21
256  2008  2767.0             -19.0            -0.68
257  2009  2785.0              18.0             0.65
258  2010  2840.0              55.0             1.97
259  2011  2872.0              32.0             1.13
260  2012  2863.0              -9.0            -0.31
261  2013  2888.0              25.0             0.87
262  2014  2812.0             -76.0            -2.63
263  2015  2722.0             -90.0            -3.20
264  2016  2669.0             -53.0            -1.95
265  2017  2587.0             -82.0            -3.07
266  2018  2503.0             -84.0            -3.25
267  2019  2398.0            -105.0            -4.19
268  2020  2341.0             -57.0            -2.38
269  2021  2294.0             -47.0            -2.01
270  2022  2242.0             -52.0            -2.27
271  2023  2227.0             -15.0            -0.67

### Gjennomsnittlig utslipp per tiår i Norge (alle kilder)

In [530]:
from statistikk import tiår_snitt

kol_utslipp = [kol for kol in df_alle_kilder.columns if "utslipp" in kol.lower() and "co2" in kol.lower()][0]
tiårsdata_norge = tiår_snitt(df_alle_kilder, verdikolonne=kol_utslipp)

display(tiårsdata_norge)

   tiår  utslipp_til_luft_(1_000_tonn_co2-ekvivalenter,_ar5)
0  1990                                           51988.90
1  2000                                           55203.50
2  2010                                           53432.20
3  2020                                           48612.75

## Analyse av luftkvalitet

I denne seksjonen analyseres utviklingen av luftkvaliteten på Gløshaugen i Trondheim

#### Leser inn data for historisk luftkvalitet fra CSV-fil

In [531]:
statistikk_luft, df_total, df_luft = statistikk.analyser_fil("../data/gyldig_historisk_luftkvalitet.csv", datokolonne="tid", groupby="år")

c:\Users\johan\Documents\Mappe\src\statistikk.py:24: UserWarning: Parsing dates in %d.%m.%Y %H:%M format when dayfirst=False (the default) was specified. Pass `dayfirst=True` or specify a format to silence this warning.
  df[tidkolonne] = pd.to_datetime(df[tidkolonne], errors='coerce')

### Statistikk for luftkvalitetsmålinger

In [532]:
for stoff, df in statistikk_luft.items():
    print(f"Statistikk: {stoff}")
    display(df[['år', 'gjennomsnitt', 'median']].round(2))

Statistikk: elgeseter_no2_ugm3_day

      år  gjennomsnitt  median
0   2003         48.27   48.07
1   2004         59.01   51.42
2   2005         52.45   53.35
3   2006         56.64   56.27
4   2007         63.51   58.70
5   2008         53.38   50.71
6   2009         52.99   50.32
7   2010         51.11   45.46
8   2011         45.63   42.96
9   2012         44.44   42.32
10  2014         45.22   38.11
11  2015         31.95   30.56
12  2016         33.82   31.55
13  2017         28.63   25.35
14  2018         30.66   26.88
15  2019         28.50   24.23
16  2020         18.61   15.93
17  2021         20.38   17.87
18  2022         19.38   16.52
19  2023         18.20   16.89
20  2024         16.10   13.86
21  2025         24.50   25.58

Statistikk: elgeseter_pm10_ugm3_day

      år  gjennomsnitt  median
0   2003         29.01   25.91
1   2004         33.14   23.40
2   2005         35.21   24.77
3   2006         42.77   35.05
4   2007         30.01   22.09
5   2008         26.56   20.96
6   2009         29.01   21.55
7   2010         26.96   20.81
8   2011         31.35   21.45
9   2012         29.73   19.82
10  2014         13.06   10.11
11  2015         12.13   10.17
12  2016         13.20   10.87
13  2017         11.66    9.73
14  2018         13.91   11.93
15  2019         12.33   10.46
16  2020         10.53    8.96
17  2021         13.41   11.66
18  2022         16.44   11.69
19  2023         11.97    7.66
20  2024         17.55   12.09
21  2025         12.96    7.85

Statistikk: elgeseter_pm2.5_ugm3_day

      år  gjennomsnitt  median
0   2003         14.90   12.38
1   2004         14.97   12.55
2   2005         15.30   13.36
3   2006         15.28   13.49
4   2007         12.50   10.28
5   2008         10.53    8.86
6   2009         10.73    9.18
7   2010         11.25    9.27
8   2011         10.33    9.21
9   2012          9.99    8.43
10  2014          9.23    6.58
11  2015          4.78    3.57
12  2016          4.96    4.32
13  2017          4.62    3.97
14  2018          5.86    4.55
15  2019          5.67    4.06
16  2020          4.48    3.65
17  2021          5.48    3.80
18  2022          5.60    4.14
19  2023          5.53    4.68
20  2024          4.65    4.06
21  2025          4.42    4.02

### Årlige og månedlige trender i luftkvalitet

In [535]:
from statistikk import analyser_luftkvalitet, legg_til_tid

df_luft = legg_til_tid(df_luft)
målinger = [kol for kol in df_luft.columns if "ugm3" in kol]

resultater = analyser_luftkvalitet(df_luft, målinger)

for stoff, data in resultater.items():
    print(f"Analyse for: {stoff}")
    print("Årlig snitt:")
    display(data["årlig"].round(2))

    print("\nMånedlig snitt:")
    display(data["månedlig"].round(2))

    print("\nEkstremverdier:")
    print(f"Maks: {data['ekstremer']['maksimum']['verdi']:.2f} µg/m³ på {data['ekstremer']['maksimum']['år']}")
    print(f"Min: {data['ekstremer']['minimum']['verdi']:.2f} µg/m³ på {data['ekstremer']['minimum']['år']}")

Analyse for: elgeseter_no2_ugm3_day
Årlig snitt:

      år  årssnitt
0   2003     48.27
1   2004     59.01
2   2005     52.45
3   2006     56.64
4   2007     63.51
5   2008     53.38
6   2009     52.99
7   2010     51.11
8   2011     45.63
9   2012     44.44
10  2014     45.22
11  2015     31.95
12  2016     33.82
13  2017     28.63
14  2018     30.66
15  2019     28.50
16  2020     18.61
17  2021     20.38
18  2022     19.38
19  2023     18.20
20  2024     16.10
21  2025     24.50

Månedlig snitt:

    måned  månedsnitt
0       1       51.46
1       2       50.60
2       3       42.90
3       4       35.34
4       5       28.51
5       6       24.87
6       7       22.38
7       8       27.36
8       9       28.73
9      10       36.07
10     11       46.67
11     12       48.13

Ekstremverdier:
Maks: 162.14 µg/m³ på 2004
Min: 0.00 µg/m³ på 2024
Analyse for: elgeseter_pm10_ugm3_day
Årlig snitt:

      år  årssnitt
0   2003     29.01
1   2004     33.14
2   2005     35.21
3   2006     42.77
4   2007     30.01
5   2008     26.56
6   2009     29.01
7   2010     26.96
8   2011     31.35
9   2012     29.73
10  2014     13.06
11  2015     12.13
12  2016     13.20
13  2017     11.66
14  2018     13.91
15  2019     12.33
16  2020     10.53
17  2021     13.41
18  2022     16.44
19  2023     11.97
20  2024     17.55
21  2025     12.96

Månedlig snitt:

    måned  månedsnitt
0       1       17.50
1       2       16.95
2       3       25.56
3       4       33.86
4       5       22.81
5       6       16.74
6       7       13.21
7       8       14.86
8       9       15.98
9      10       24.99
10     11       28.49
11     12       18.47

Ekstremverdier:
Maks: 190.88 µg/m³ på 2004
Min: 0.00 µg/m³ på 2023
Analyse for: elgeseter_pm2.5_ugm3_day
Årlig snitt:

      år  årssnitt
0   2003     14.90
1   2004     14.97
2   2005     15.30
3   2006     15.28
4   2007     12.50
5   2008     10.53
6   2009     10.73
7   2010     11.25
8   2011     10.33
9   2012      9.99
10  2014      9.23
11  2015      4.78
12  2016      4.96
13  2017      4.62
14  2018      5.86
15  2019      5.67
16  2020      4.48
17  2021      5.48
18  2022      5.60
19  2023      5.53
20  2024      4.65
21  2025      4.42

Månedlig snitt:

    måned  månedsnitt
0       1       11.33
1       2        9.27
2       3        7.82
3       4        7.62
4       5        6.37
5       6        6.16
6       7        5.67
7       8        5.73
8       9        6.12
9      10        8.56
10     11       11.99
11     12       11.13

Ekstremverdier:
Maks: 66.62 µg/m³ på 2008
Min: 0.00 µg/m³ på 2014