In [ ]:
import pandas as pd
import numpy as np

import sys, os
sys.path.append(os.path.abspath("../src"))

import dataanalyse
import importlib
importlib.reload(dataanalyse)

In [206]:
#Temperaturdata
statistikk_temp, df_total, df = dataanalyse.analyser_fil("../data/temp_gloshaugen_historisk_renset_ 50.csv",datokolonne="tidspunkt",groupby="måned")

for navn, df in statistikk_temp.items():
    print(f"\nSamlet statistikk for: {navn}")

    if 'år' in df.columns:
        display(df.round(2))

    if 'år' in df.columns and 'måned' in df.columns:
        print(f"Årlig gjennomsnitt (kun hele år) for: {navn}")

        # Finn hvor mange måneder hvert år har og tar kun med de som har 12 måneder
        antall_mnd = df.groupby('år')['måned'].count().reset_index(name='antall_måneder')
        hele_år = antall_mnd[antall_mnd['antall_måneder'] == 12]['år']

        df_hele_år = df[df['år'].isin(hele_år)]
        årlig_snitt = df_hele_år.groupby('år')['gjennomsnitt'].mean().reset_index(name='årsgjennomsnitt')

        display(årlig_snitt.round(2))

Analyse av:../data/temp_gloshaugen_historisk_renset_ 50.csv
-------------------------------------------------

Samlet statistikk for: temperatur

       år  måned  gjennomsnitt  median  standardavvik
0    1976      1         -4.55   -4.10           4.65
1    1976      2         -2.26   -1.90           4.53
2    1976      3         -1.20   -1.30           4.40
3    1976      4          5.57    5.55           3.81
4    1976      5         12.56   12.50           4.65
..    ...    ...           ...     ...            ...
587  2024     12          1.42    1.70           3.46
588  2025      1         -1.39   -0.90           4.10
589  2025      2         -0.99   -0.85           3.84
590  2025      3          4.08    4.15           4.15
591  2025      4          8.76    8.80           4.08

[592 rows x 5 columns]

Årlig gjennomsnitt (kun hele år) for: temperatur

      år  årsgjennomsnitt
0   1976             6.46
1   1977             6.26
2   1978             5.75
3   1979             5.02
4   1980             5.73
5   1981             5.44
6   1982             6.53
7   1983             7.30
8   1984             6.96
9   1985             4.67
10  1986             5.84
11  1987             4.82
12  1988             6.84
13  1989             7.97
14  1990             8.12
15  1991             6.98
16  1992             7.42
17  1993             5.61
18  1994             6.18
19  1995             6.17
20  1996             5.31
21  1997             7.13
22  1998             6.32
23  1999             6.82
24  2000             7.77
25  2001             6.17
26  2002             6.97
27  2003             6.93
28  2004             7.07
29  2005             7.43
30  2006             7.38
31  2007             7.17
32  2008             7.55
33  2009             6.71
34  2010             4.83
35  2011             7.71
36  2012             6.49
37  2013             6.73
38  2014             8.27
39  2015             7.72
40  2016             7.34
41  2017             6.99
42  2018             7.70
43  2019             7.32
44  2020             8.76
45  2021             7.25
46  2022             7.81
47  2023             6.94
48  2024             7.69

In [207]:
from bokeh.plotting import figure, show
from bokeh.models import ColumnDataSource
from bokeh.io import output_notebook

# Aktiver visning i Jupyter Notebook (hvis du bruker det)
output_notebook()

# Gjør klar data til Bokeh
source = ColumnDataSource(årlig_snitt)

p = figure(
    title="Årsgjennomsnitt temperatur",
    x_axis_label='År', 
    y_axis_label='Temperatur (°C)',
    width=700,
    height=400
)


p.line(x='år', y='årsgjennomsnitt', source=source, line_width=2)
p.circle(x='år', y='årsgjennomsnitt', source=source, size=5)

# Vis graf
show(p)

BokehDeprecationWarning: 'circle() method with size value' was deprecated in Bokeh 3.4.0 and will be removed, use 'scatter(size=...) instead' instead.

In [208]:
# Beregn endring i gjennomsnittstemperatur fra første til siste år
første = årlig_snitt.iloc[0]
siste = årlig_snitt.iloc[-1]
endring = siste['årsgjennomsnitt'] - første['årsgjennomsnitt']
prosent = (endring / abs(første['årsgjennomsnitt'])) * 100

print(f"Endring i temperatur fra {int(første['år'])} til {int(siste['år'])}:")
print(f"{endring:.2f} °C ({prosent:.2f} %)")

Endring i temperatur fra 1976 til 2024:
1.23 °C (19.09 %)

In [209]:
varmest = årlig_snitt.loc[årlig_snitt['årsgjennomsnitt'].idxmax()]
kaldest = årlig_snitt.loc[årlig_snitt['årsgjennomsnitt'].idxmin()]

print(f"Varmeste år: {int(varmest['år'])} med {varmest['årsgjennomsnitt']:.2f} °C")
print(f"Kaldeste år: {int(kaldest['år'])} med {kaldest['årsgjennomsnitt']:.2f} °C")

Varmeste år: 2020 med 8.76 °C
Kaldeste år: 1985 med 4.67 °C

In [210]:
# Gjenomsnittet for hvert tiår
årlig_snitt['tiår'] = (årlig_snitt['år'] // 10) * 10
tiårs_snitt = årlig_snitt.groupby('tiår')['årsgjennomsnitt'].mean().reset_index()

display(tiårs_snitt.round(2))

   tiår  årsgjennomsnitt
0  1970             5.87
1  1980             6.21
2  1990             6.60
3  2000             7.11
4  2010             7.11
5  2020             7.69

In [211]:
# Temperaturavvik per år
total_snitt = årlig_snitt['årsgjennomsnitt'].mean()
årlig_snitt['avvik'] = årlig_snitt['årsgjennomsnitt'] - total_snitt

display(årlig_snitt[['år', 'årsgjennomsnitt', 'avvik']].round(2))

      år  årsgjennomsnitt  avvik
0   1976             6.46  -0.33
1   1977             6.26  -0.52
2   1978             5.75  -1.03
3   1979             5.02  -1.76
4   1980             5.73  -1.05
5   1981             5.44  -1.34
6   1982             6.53  -0.25
7   1983             7.30   0.52
8   1984             6.96   0.18
9   1985             4.67  -2.12
10  1986             5.84  -0.95
11  1987             4.82  -1.96
12  1988             6.84   0.05
13  1989             7.97   1.19
14  1990             8.12   1.33
15  1991             6.98   0.20
16  1992             7.42   0.64
17  1993             5.61  -1.18
18  1994             6.18  -0.60
19  1995             6.17  -0.62
20  1996             5.31  -1.47
21  1997             7.13   0.34
22  1998             6.32  -0.46
23  1999             6.82   0.04
24  2000             7.77   0.99
25  2001             6.17  -0.62
26  2002             6.97   0.19
27  2003             6.93   0.14
28  2004             7.07   0.29
29  2005             7.43   0.64
30  2006             7.38   0.60
31  2007             7.17   0.39
32  2008             7.55   0.77
33  2009             6.71  -0.07
34  2010             4.83  -1.95
35  2011             7.71   0.92
36  2012             6.49  -0.29
37  2013             6.73  -0.05
38  2014             8.27   1.49
39  2015             7.72   0.94
40  2016             7.34   0.56
41  2017             6.99   0.21
42  2018             7.70   0.92
43  2019             7.32   0.54
44  2020             8.76   1.98
45  2021             7.25   0.47
46  2022             7.81   1.03
47  2023             6.94   0.16
48  2024             7.69   0.91

In [212]:
# Kjør analysen
statistikk, df_total, df = dataanalyse.analyser_fil("../data/klimagassutslipp_renset.csv",sep=",",datokolonne="år",groupby="år")

# Finn riktig kolonnenavn for utslipp
kol_utslipp = [kol for kol in df.columns if "utslipp" in kol and "co2" in kol][0]

# Konverter utslipp til tall
df[kol_utslipp] = pd.to_numeric(df[kol_utslipp], errors="coerce")

# Filtrer bort "Alle kilder"
df = df[~df['kilde_(aktivitet)'].str.contains("alle kilder", case=False)]

# Beregn gjennomsnitt og median PER KILDE PER ÅR
if not df.empty and 'kilde_(aktivitet)' in df.columns and 'år' in df.columns:
    stats_per_kilde_år = df.groupby(['kilde_(aktivitet)', 'år'])[kol_utslipp].agg(['mean', 'median']).reset_index()
    stats_per_kilde_år = stats_per_kilde_år.round(2)

    display(stats_per_kilde_år)
else:
    print("Data mangler 'år' eller 'kilde_(aktivitet)' kolonner.")

Analyse av:../data/klimagassutslipp_renset.csv
-------------------------------------------------

            kilde_(aktivitet)    år     mean   median
0    1 Olje- og gassutvinning  1990   8254.0   8254.0
1    1 Olje- og gassutvinning  1991   8127.0   8127.0
2    1 Olje- og gassutvinning  1992   8728.0   8728.0
3    1 Olje- og gassutvinning  1993   9257.0   9257.0
4    1 Olje- og gassutvinning  1994  10053.0  10053.0
..                        ...   ...      ...      ...
267            9 Andre kilder  2019   2398.0   2398.0
268            9 Andre kilder  2020   2341.0   2341.0
269            9 Andre kilder  2021   2294.0   2294.0
270            9 Andre kilder  2022   2242.0   2242.0
271            9 Andre kilder  2023   2227.0   2227.0

[272 rows x 4 columns]

In [213]:
kol_utslipp = [kol for kol in df.columns if "utslipp" in kol and "co2" in kol][0]
df[kol_utslipp] = pd.to_numeric(df[kol_utslipp], errors="coerce")

# Gjennomsnitt og median per kilde totalt
if not df.empty and 'kilde_(aktivitet)' in df.columns:
    print("\nGjennomsnitt og median per kilde totalt:")

    stats_per_kilde = df.groupby('kilde_(aktivitet)')[kol_utslipp].agg(['mean', 'median']).round(2)
    stats_per_kilde = stats_per_kilde.sort_values(by='mean', ascending=False)
    
    display(stats_per_kilde)
else:
    print("Ingen data med individuelle kilder å analysere.")

Gjennomsnitt og median per kilde totalt:

                                                     mean   median
kilde_(aktivitet)
2 Industri og bergverk                           14117.50  14322.5
1 Olje- og gassutvinning                         12653.09  13559.0
5 Veitrafikk                                      8881.03   8909.0
6 Luftfart, sj�fart, fiske, motorredskaper m.m.   6904.62   7103.0
7 Jordbruk                                        4788.35   4782.5
9 Andre kilder                                    2778.12   2832.0
4 Oppvarming i andre n�ringer og husholdninger    1726.79   1897.0
3 Energiforsyning                                 1112.26    759.0

In [214]:

kol_navn = 'utslipp_til_luft_(1_000_tonn_co2-ekvivalenter,_ar5)'

# Hent ut år + utslipp
total = df_total[['år', kol_navn]].copy()
total = total.rename(columns={kol_navn: 'utslipp'})
total = total.sort_values('år')

# Årlig endring
første = total.iloc[0]
siste = total.iloc[-1]
endring = siste['utslipp'] - første['utslipp']
prosent = (endring / første['utslipp']) * 100

print(f"Endring i utslipp fra {int(første['år'])} til {int(siste['år'])}: {endring:.0f} (ca. {prosent:.2f} %)")

Endring i utslipp fra 1990 til 2023: -4694 (ca. -9.14 %)

In [215]:
# Antar at stats_per_kilde_år allerede finnes og ser slik ut:
# ['kilde_(aktivitet)', 'år', 'mean', 'median']

# Lag en ordbok der hver kilde får sin egen tabell
endring_per_kilde = {}

for kilde in stats_per_kilde_år['kilde_(aktivitet)'].unique():
    df_kilde = stats_per_kilde_år[stats_per_kilde_år['kilde_(aktivitet)'] == kilde].copy()
    df_kilde = df_kilde.sort_values('år')

    df_kilde['endring_abs'] = df_kilde['mean'].diff().round(2)
    df_kilde['endring_prosent'] = df_kilde['mean'].pct_change().multiply(100).round(2)

    endring_per_kilde[kilde] = df_kilde

# Vis alle
for kilde, df_k in endring_per_kilde.items():
    print(f"\nUtslippsendring for kilde: {kilde}")
    display(df_k)

Utslippsendring for kilde: 1 Olje- og gassutvinning

,kilde_(aktivitet),år,mean,median,endring_abs,endring_prosent
0,1 Olje- og gassutvinning,1990,8254.0,8254.0,NaN,NaN
1,1 Olje- og gassutvinning,1991,8127.0,8127.0,-127.0,-1.54
2,1 Olje- og gassutvinning,1992,8728.0,8728.0,601.0,7.40
3,1 Olje- og gassutvinning,1993,9257.0,9257.0,529.0,6.06
4,1 Olje- og gassutvinning,1994,10053.0,10053.0,796.0,8.60
5,1 Olje- og gassutvinning,1995,10237.0,10237.0,184.0,1.83
6,1 Olje- og gassutvinning,1996,11139.0,11139.0,902.0,8.81
7,1 Olje- og gassutvinning,1997,11641.0,11641.0,502.0,4.51
8,1 Olje- og gassutvinning,1998,11308.0,11308.0,-333.0,-2.86
9,1 Olje- og gassutvinning,1999,11829.0,11829.0,521.0,4.61
10,1 Olje- og gassutvinning,2000,13172.0,13172.0,1343.0,11.35
11,1 Olje- og gassutvinning,2001,14140.0,14140.0,968.0,7.35
12,1 Olje- og gassutvinning,2002,13809.0,13809.0,-331.0,-2.34
13,1 Olje- og gassutvinning,2003,13942.0,13942.0,133.0,0.96
14,1 Olje- og gassutvinning,2004,14169.0,14169.0,227.0,1.63
15,1 Olje- og gassutvinning,2005,14108.0,14108.0,-61.0,-0.43
16,1 Olje- og gassutvinning,2006,13706.0,13706.0,-402.0,-2.85
17,1 Olje- og gassutvinning,2007,15165.0,15165.0,1459.0,10.64
18,1 Olje- og gassutvinning,2008,14810.0,14810.0,-355.0,-2.34
19,1 Olje- og gassutvinning,2009,13683.0,13683.0,-1127.0,-7.61
20,1 Olje- og gassutvinning,2010,13786.0,13786.0,103.0,0.75
21,1 Olje- og gassutvinning,2011,13472.0,13472.0,-314.0,-2.28
22,1 Olje- og gassutvinning,2012,13575.0,13575.0,103.0,0.76
23,1 Olje- og gassutvinning,2013,13543.0,13543.0,-32.0,-0.24
24,1 Olje- og gassutvinning,2014,14231.0,14231.0,688.0,5.08
25,1 Olje- og gassutvinning,2015,14770.0,14770.0,539.0,3.79
26,1 Olje- og gassutvinning,2016,14472.0,14472.0,-298.0,-2.02
27,1 Olje- og gassutvinning,2017,14206.0,14206.0,-266.0,-1.84
28,1 Olje- og gassutvinning,2018,14055.0,14055.0,-151.0,-1.06
29,1 Olje- og gassutvinning,2019,13888.0,13888.0,-167.0,-1.19
30,1 Olje- og gassutvinning,2020,13162.0,13162.0,-726.0,-5.23
31,1 Olje- og gassutvinning,2021,12122.0,12122.0,-1040.0,-7.90
32,1 Olje- og gassutvinning,2022,12085.0,12085.0,-37.0,-0.31
33,1 Olje- og gassutvinning,2023,11561.0,11561.0,-524.0,-4.34

Utslippsendring for kilde: 2 Industri og bergverk

,kilde_(aktivitet),år,mean,median,endring_abs,endring_prosent
34,2 Industri og bergverk,1990,19140.0,19140.0,NaN,NaN
35,2 Industri og bergverk,1991,17620.0,17620.0,-1520.0,-7.94
36,2 Industri og bergverk,1992,15377.0,15377.0,-2243.0,-12.73
37,2 Industri og bergverk,1993,16325.0,16325.0,948.0,6.17
38,2 Industri og bergverk,1994,17275.0,17275.0,950.0,5.82
39,2 Industri og bergverk,1995,16556.0,16556.0,-719.0,-4.16
40,2 Industri og bergverk,1996,17165.0,17165.0,609.0,3.68
41,2 Industri og bergverk,1997,16854.0,16854.0,-311.0,-1.81
42,2 Industri og bergverk,1998,17168.0,17168.0,314.0,1.86
43,2 Industri og bergverk,1999,16960.0,16960.0,-208.0,-1.21
44,2 Industri og bergverk,2000,16823.0,16823.0,-137.0,-0.81
45,2 Industri og bergverk,2001,16301.0,16301.0,-522.0,-3.10
46,2 Industri og bergverk,2002,15220.0,15220.0,-1081.0,-6.63
47,2 Industri og bergverk,2003,15083.0,15083.0,-137.0,-0.90
48,2 Industri og bergverk,2004,15338.0,15338.0,255.0,1.69
49,2 Industri og bergverk,2005,14876.0,14876.0,-462.0,-3.01
50,2 Industri og bergverk,2006,14484.0,14484.0,-392.0,-2.64
51,2 Industri og bergverk,2007,14161.0,14161.0,-323.0,-2.23
52,2 Industri og bergverk,2008,13718.0,13718.0,-443.0,-3.13
53,2 Industri og bergverk,2009,11231.0,11231.0,-2487.0,-18.13
54,2 Industri og bergverk,2010,12025.0,12025.0,794.0,7.07
55,2 Industri og bergverk,2011,12034.0,12034.0,9.0,0.07
56,2 Industri og bergverk,2012,11741.0,11741.0,-293.0,-2.43
57,2 Industri og bergverk,2013,11783.0,11783.0,42.0,0.36
58,2 Industri og bergverk,2014,11435.0,11435.0,-348.0,-2.95
59,2 Industri og bergverk,2015,11717.0,11717.0,282.0,2.47
60,2 Industri og bergverk,2016,11388.0,11388.0,-329.0,-2.81
61,2 Industri og bergverk,2017,11797.0,11797.0,409.0,3.59
62,2 Industri og bergverk,2018,11820.0,11820.0,23.0,0.19
63,2 Industri og bergverk,2019,11372.0,11372.0,-448.0,-3.79
64,2 Industri og bergverk,2020,11252.0,11252.0,-120.0,-1.06
65,2 Industri og bergverk,2021,11638.0,11638.0,386.0,3.43
66,2 Industri og bergverk,2022,11506.0,11506.0,-132.0,-1.13
67,2 Industri og bergverk,2023,10812.0,10812.0,-694.0,-6.03

Utslippsendring for kilde: 3 Energiforsyning

     kilde_(aktivitet)    år    mean  median  endring_abs  endring_prosent
68   3 Energiforsyning  1990   341.0   341.0          NaN              NaN
69   3 Energiforsyning  1991   396.0   396.0         55.0            16.13
70   3 Energiforsyning  1992   390.0   390.0         -6.0            -1.52
71   3 Energiforsyning  1993   409.0   409.0         19.0             4.87
72   3 Energiforsyning  1994   466.0   466.0         57.0            13.94
73   3 Energiforsyning  1995   468.0   468.0          2.0             0.43
74   3 Energiforsyning  1996   560.0   560.0         92.0            19.66
75   3 Energiforsyning  1997   493.0   493.0        -67.0           -11.96
76   3 Energiforsyning  1998   538.0   538.0         45.0             9.13
77   3 Energiforsyning  1999   523.0   523.0        -15.0            -2.79
78   3 Energiforsyning  2000   485.0   485.0        -38.0            -7.27
79   3 Energiforsyning  2001   541.0   541.0         56.0            11.55
80   3 Energiforsyning  2002   583.0   583.0         42.0             7.76
81   3 Energiforsyning  2003   715.0   715.0        132.0            22.64
82   3 Energiforsyning  2004   607.0   607.0       -108.0           -15.10
83   3 Energiforsyning  2005   591.0   591.0        -16.0            -2.64
84   3 Energiforsyning  2006   648.0   648.0         57.0             9.64
85   3 Energiforsyning  2007   948.0   948.0        300.0            46.30
86   3 Energiforsyning  2008   803.0   803.0       -145.0           -15.30
87   3 Energiforsyning  2009  2016.0  2016.0       1213.0           151.06
88   3 Energiforsyning  2010  2454.0  2454.0        438.0            21.73
89   3 Energiforsyning  2011  2237.0  2237.0       -217.0            -8.84
90   3 Energiforsyning  2012  1723.0  1723.0       -514.0           -22.98
91   3 Energiforsyning  2013  1770.0  1770.0         47.0             2.73
92   3 Energiforsyning  2014  1767.0  1767.0         -3.0            -0.17
93   3 Energiforsyning  2015  1765.0  1765.0         -2.0            -0.11
94   3 Energiforsyning  2016  1749.0  1749.0        -16.0            -0.91
95   3 Energiforsyning  2017  1906.0  1906.0        157.0             8.98
96   3 Energiforsyning  2018  1901.0  1901.0         -5.0            -0.26
97   3 Energiforsyning  2019  1794.0  1794.0       -107.0            -5.63
98   3 Energiforsyning  2020  1732.0  1732.0        -62.0            -3.46
99   3 Energiforsyning  2021  1764.0  1764.0         32.0             1.85
100  3 Energiforsyning  2022  1493.0  1493.0       -271.0           -15.36
101  3 Energiforsyning  2023  1241.0  1241.0       -252.0           -16.88

Utslippsendring for kilde: 4 Oppvarming i andre n�ringer og husholdninger

,kilde_(aktivitet),år,mean,median,endring_abs,endring_prosent
102,4 Oppvarming i andre n�ringer og husholdninger,1990,2755.0,2755.0,NaN,NaN
103,4 Oppvarming i andre n�ringer og husholdninger,1991,2490.0,2490.0,-265.0,-9.62
104,4 Oppvarming i andre n�ringer og husholdninger,1992,2276.0,2276.0,-214.0,-8.59
105,4 Oppvarming i andre n�ringer og husholdninger,1993,2308.0,2308.0,32.0,1.41
106,4 Oppvarming i andre n�ringer og husholdninger,1994,2329.0,2329.0,21.0,0.91
107,4 Oppvarming i andre n�ringer og husholdninger,1995,2369.0,2369.0,40.0,1.72
108,4 Oppvarming i andre n�ringer og husholdninger,1996,2905.0,2905.0,536.0,22.63
109,4 Oppvarming i andre n�ringer og husholdninger,1997,2469.0,2469.0,-436.0,-15.01
110,4 Oppvarming i andre n�ringer og husholdninger,1998,2237.0,2237.0,-232.0,-9.40
111,4 Oppvarming i andre n�ringer og husholdninger,1999,2478.0,2478.0,241.0,10.77
112,4 Oppvarming i andre n�ringer og husholdninger,2000,1932.0,1932.0,-546.0,-22.03
113,4 Oppvarming i andre n�ringer og husholdninger,2001,2150.0,2150.0,218.0,11.28
114,4 Oppvarming i andre n�ringer og husholdninger,2002,2344.0,2344.0,194.0,9.02
115,4 Oppvarming i andre n�ringer og husholdninger,2003,2738.0,2738.0,394.0,16.81
116,4 Oppvarming i andre n�ringer og husholdninger,2004,2347.0,2347.0,-391.0,-14.28
117,4 Oppvarming i andre n�ringer og husholdninger,2005,1862.0,1862.0,-485.0,-20.66
118,4 Oppvarming i andre n�ringer og husholdninger,2006,1960.0,1960.0,98.0,5.26
119,4 Oppvarming i andre n�ringer og husholdninger,2007,1751.0,1751.0,-209.0,-10.66
120,4 Oppvarming i andre n�ringer og husholdninger,2008,1570.0,1570.0,-181.0,-10.34
121,4 Oppvarming i andre n�ringer og husholdninger,2009,1707.0,1707.0,137.0,8.73
122,4 Oppvarming i andre n�ringer og husholdninger,2010,2010.0,2010.0,303.0,17.75
123,4 Oppvarming i andre n�ringer og husholdninger,2011,1468.0,1468.0,-542.0,-26.97
124,4 Oppvarming i andre n�ringer og husholdninger,2012,1342.0,1342.0,-126.0,-8.58
125,4 Oppvarming i andre n�ringer og husholdninger,2013,1276.0,1276.0,-66.0,-4.92
126,4 Oppvarming i andre n�ringer og husholdninger,2014,1052.0,1052.0,-224.0,-17.55
127,4 Oppvarming i andre n�ringer og husholdninger,2015,947.0,947.0,-105.0,-9.98
128,4 Oppvarming i andre n�ringer og husholdninger,2016,1045.0,1045.0,98.0,10.35
129,4 Oppvarming i andre n�ringer og husholdninger,2017,922.0,922.0,-123.0,-11.77
130,4 Oppvarming i andre n�ringer og husholdninger,2018,797.0,797.0,-125.0,-13.56
131,4 Oppvarming i andre n�ringer og husholdninger,2019,600.0,600.0,-197.0,-24.72
132,4 Oppvarming i andre n�ringer og husholdninger,2020,522.0,522.0,-78.0,-13.00
133,4 Oppvarming i andre n�ringer og husholdninger,2021,545.0,545.0,23.0,4.41
134,4 Oppvarming i andre n�ringer og husholdninger,2022,568.0,568.0,23.0,4.22
135,4 Oppvarming i andre n�ringer og husholdninger,2023,640.0,640.0,72.0,12.68

Utslippsendring for kilde: 5 Veitrafikk

    kilde_(aktivitet)    år     mean   median  endring_abs  endring_prosent
136      5 Veitrafikk  1990   7426.0   7426.0          NaN              NaN
137      5 Veitrafikk  1991   7307.0   7307.0       -119.0            -1.60
138      5 Veitrafikk  1992   7338.0   7338.0         31.0             0.42
139      5 Veitrafikk  1993   7511.0   7511.0        173.0             2.36
140      5 Veitrafikk  1994   7408.0   7408.0       -103.0            -1.37
141      5 Veitrafikk  1995   7527.0   7527.0        119.0             1.61
142      5 Veitrafikk  1996   7902.0   7902.0        375.0             4.98
143      5 Veitrafikk  1997   7887.0   7887.0        -15.0            -0.19
144      5 Veitrafikk  1998   8116.0   8116.0        229.0             2.90
145      5 Veitrafikk  1999   8543.0   8543.0        427.0             5.26
146      5 Veitrafikk  2000   8370.0   8370.0       -173.0            -2.03
147      5 Veitrafikk  2001   8871.0   8871.0        501.0             5.99
148      5 Veitrafikk  2002   8947.0   8947.0         76.0             0.86
149      5 Veitrafikk  2003   9089.0   9089.0        142.0             1.59
150      5 Veitrafikk  2004   9383.0   9383.0        294.0             3.23
151      5 Veitrafikk  2005   9519.0   9519.0        136.0             1.45
152      5 Veitrafikk  2006   9797.0   9797.0        278.0             2.92
153      5 Veitrafikk  2007  10029.0  10029.0        232.0             2.37
154      5 Veitrafikk  2008   9894.0   9894.0       -135.0            -1.35
155      5 Veitrafikk  2009   9741.0   9741.0       -153.0            -1.55
156      5 Veitrafikk  2010   9990.0   9990.0        249.0             2.56
157      5 Veitrafikk  2011   9923.0   9923.0        -67.0            -0.67
158      5 Veitrafikk  2012   9958.0   9958.0         35.0             0.35
159      5 Veitrafikk  2013  10007.0  10007.0         49.0             0.49
160      5 Veitrafikk  2014  10221.0  10221.0        214.0             2.14
161      5 Veitrafikk  2015  10255.0  10255.0         34.0             0.33
162      5 Veitrafikk  2016   9990.0   9990.0       -265.0            -2.58
163      5 Veitrafikk  2017   9124.0   9124.0       -866.0            -8.67
164      5 Veitrafikk  2018   9367.0   9367.0        243.0             2.66
165      5 Veitrafikk  2019   8734.0   8734.0       -633.0            -6.76
166      5 Veitrafikk  2020   8350.0   8350.0       -384.0            -4.40
167      5 Veitrafikk  2021   8712.0   8712.0        362.0             4.34
168      5 Veitrafikk  2022   8703.0   8703.0         -9.0            -0.10
169      5 Veitrafikk  2023   8016.0   8016.0       -687.0            -7.89

Utslippsendring for kilde: 6 Luftfart, sj�fart, fiske, motorredskaper m.m.

,kilde_(aktivitet),år,mean,median,endring_abs,endring_prosent
170,"6 Luftfart, sj�fart, fiske, motorredskaper m.m.",1990,5298.0,5298.0,NaN,NaN
171,"6 Luftfart, sj�fart, fiske, motorredskaper m.m.",1991,5109.0,5109.0,-189.0,-3.57
172,"6 Luftfart, sj�fart, fiske, motorredskaper m.m.",1992,5461.0,5461.0,352.0,6.89
173,"6 Luftfart, sj�fart, fiske, motorredskaper m.m.",1993,5664.0,5664.0,203.0,3.72
174,"6 Luftfart, sj�fart, fiske, motorredskaper m.m.",1994,5858.0,5858.0,194.0,3.43
175,"6 Luftfart, sj�fart, fiske, motorredskaper m.m.",1995,6554.0,6554.0,696.0,11.88
176,"6 Luftfart, sj�fart, fiske, motorredskaper m.m.",1996,6960.0,6960.0,406.0,6.19
177,"6 Luftfart, sj�fart, fiske, motorredskaper m.m.",1997,7246.0,7246.0,286.0,4.11
178,"6 Luftfart, sj�fart, fiske, motorredskaper m.m.",1998,7463.0,7463.0,217.0,2.99
179,"6 Luftfart, sj�fart, fiske, motorredskaper m.m.",1999,7526.0,7526.0,63.0,0.84
180,"6 Luftfart, sj�fart, fiske, motorredskaper m.m.",2000,6499.0,6499.0,-1027.0,-13.65
181,"6 Luftfart, sj�fart, fiske, motorredskaper m.m.",2001,6588.0,6588.0,89.0,1.37
182,"6 Luftfart, sj�fart, fiske, motorredskaper m.m.",2002,6546.0,6546.0,-42.0,-0.64
183,"6 Luftfart, sj�fart, fiske, motorredskaper m.m.",2003,6471.0,6471.0,-75.0,-1.15
184,"6 Luftfart, sj�fart, fiske, motorredskaper m.m.",2004,6584.0,6584.0,113.0,1.75
185,"6 Luftfart, sj�fart, fiske, motorredskaper m.m.",2005,6428.0,6428.0,-156.0,-2.37
186,"6 Luftfart, sj�fart, fiske, motorredskaper m.m.",2006,6786.0,6786.0,358.0,5.57
187,"6 Luftfart, sj�fart, fiske, motorredskaper m.m.",2007,7008.0,7008.0,222.0,3.27
188,"6 Luftfart, sj�fart, fiske, motorredskaper m.m.",2008,6789.0,6789.0,-219.0,-3.12
189,"6 Luftfart, sj�fart, fiske, motorredskaper m.m.",2009,6737.0,6737.0,-52.0,-0.77
190,"6 Luftfart, sj�fart, fiske, motorredskaper m.m.",2010,7198.0,7198.0,461.0,6.84
191,"6 Luftfart, sj�fart, fiske, motorredskaper m.m.",2011,7289.0,7289.0,91.0,1.26
192,"6 Luftfart, sj�fart, fiske, motorredskaper m.m.",2012,7493.0,7493.0,204.0,2.80
193,"6 Luftfart, sj�fart, fiske, motorredskaper m.m.",2013,7605.0,7605.0,112.0,1.49
194,"6 Luftfart, sj�fart, fiske, motorredskaper m.m.",2014,7653.0,7653.0,48.0,0.63
195,"6 Luftfart, sj�fart, fiske, motorredskaper m.m.",2015,7470.0,7470.0,-183.0,-2.39
196,"6 Luftfart, sj�fart, fiske, motorredskaper m.m.",2016,7398.0,7398.0,-72.0,-0.96
197,"6 Luftfart, sj�fart, fiske, motorredskaper m.m.",2017,7506.0,7506.0,108.0,1.46
198,"6 Luftfart, sj�fart, fiske, motorredskaper m.m.",2018,7751.0,7751.0,245.0,3.26
199,"6 Luftfart, sj�fart, fiske, motorredskaper m.m.",2019,7692.0,7692.0,-59.0,-0.76
200,"6 Luftfart, sj�fart, fiske, motorredskaper m.m.",2020,7384.0,7384.0,-308.0,-4.00
201,"6 Luftfart, sj�fart, fiske, motorredskaper m.m.",2021,7435.0,7435.0,51.0,0.69
202,"6 Luftfart, sj�fart, fiske, motorredskaper m.m.",2022,7671.0,7671.0,236.0,3.17
203,"6 Luftfart, sj�fart, fiske, motorredskaper m.m.",2023,7637.0,7637.0,-34.0,-0.44

Utslippsendring for kilde: 7 Jordbruk

    kilde_(aktivitet)    år    mean  median  endring_abs  endring_prosent
204        7 Jordbruk  1990  5050.0  5050.0          NaN              NaN
205        7 Jordbruk  1991  4984.0  4984.0        -66.0            -1.31
206        7 Jordbruk  1992  4956.0  4956.0        -28.0            -0.56
207        7 Jordbruk  1993  4937.0  4937.0        -19.0            -0.38
208        7 Jordbruk  1994  4944.0  4944.0          7.0             0.14
209        7 Jordbruk  1995  4988.0  4988.0         44.0             0.89
210        7 Jordbruk  1996  5021.0  5021.0         33.0             0.66
211        7 Jordbruk  1997  4962.0  4962.0        -59.0            -1.18
212        7 Jordbruk  1998  4954.0  4954.0         -8.0            -0.16
213        7 Jordbruk  1999  4947.0  4947.0         -7.0            -0.14
214        7 Jordbruk  2000  4798.0  4798.0       -149.0            -3.01
215        7 Jordbruk  2001  4739.0  4739.0        -59.0            -1.23
216        7 Jordbruk  2002  4725.0  4725.0        -14.0            -0.30
217        7 Jordbruk  2003  4809.0  4809.0         84.0             1.78
218        7 Jordbruk  2004  4774.0  4774.0        -35.0            -0.73
219        7 Jordbruk  2005  4791.0  4791.0         17.0             0.36
220        7 Jordbruk  2006  4697.0  4697.0        -94.0            -1.96
221        7 Jordbruk  2007  4700.0  4700.0          3.0             0.06
222        7 Jordbruk  2008  4675.0  4675.0        -25.0            -0.53
223        7 Jordbruk  2009  4641.0  4641.0        -34.0            -0.73
224        7 Jordbruk  2010  4553.0  4553.0        -88.0            -1.90
225        7 Jordbruk  2011  4554.0  4554.0          1.0             0.02
226        7 Jordbruk  2012  4563.0  4563.0          9.0             0.20
227        7 Jordbruk  2013  4609.0  4609.0         46.0             1.01
228        7 Jordbruk  2014  4708.0  4708.0         99.0             2.15
229        7 Jordbruk  2015  4772.0  4772.0         64.0             1.36
230        7 Jordbruk  2016  4823.0  4823.0         51.0             1.07
231        7 Jordbruk  2017  4791.0  4791.0        -32.0            -0.66
232        7 Jordbruk  2018  4797.0  4797.0          6.0             0.13
233        7 Jordbruk  2019  4746.0  4746.0        -51.0            -1.06
234        7 Jordbruk  2020  4756.0  4756.0         10.0             0.21
235        7 Jordbruk  2021  4815.0  4815.0         59.0             1.24
236        7 Jordbruk  2022  4706.0  4706.0       -109.0            -2.26
237        7 Jordbruk  2023  4519.0  4519.0       -187.0            -3.97

Utslippsendring for kilde: 9 Andre kilder

    kilde_(aktivitet)    år    mean  median  endring_abs  endring_prosent
238    9 Andre kilder  1990  3084.0  3084.0          NaN              NaN
239    9 Andre kilder  1991  2953.0  2953.0       -131.0            -4.25
240    9 Andre kilder  1992  2924.0  2924.0        -29.0            -0.98
241    9 Andre kilder  1993  2968.0  2968.0         44.0             1.50
242    9 Andre kilder  1994  2999.0  2999.0         31.0             1.04
243    9 Andre kilder  1995  3042.0  3042.0         43.0             1.43
244    9 Andre kilder  1996  2989.0  2989.0        -53.0            -1.74
245    9 Andre kilder  1997  3066.0  3066.0         77.0             2.58
246    9 Andre kilder  1998  2912.0  2912.0       -154.0            -5.02
247    9 Andre kilder  1999  2891.0  2891.0        -21.0            -0.72
248    9 Andre kilder  2000  3014.0  3014.0        123.0             4.25
249    9 Andre kilder  2001  3014.0  3014.0          0.0             0.00
250    9 Andre kilder  2002  2860.0  2860.0       -154.0            -5.11
251    9 Andre kilder  2003  2808.0  2808.0        -52.0            -1.82
252    9 Andre kilder  2004  2824.0  2824.0         16.0             0.57
253    9 Andre kilder  2005  2720.0  2720.0       -104.0            -3.68
254    9 Andre kilder  2006  2792.0  2792.0         72.0             2.65
255    9 Andre kilder  2007  2786.0  2786.0         -6.0            -0.21
256    9 Andre kilder  2008  2767.0  2767.0        -19.0            -0.68
257    9 Andre kilder  2009  2785.0  2785.0         18.0             0.65
258    9 Andre kilder  2010  2840.0  2840.0         55.0             1.97
259    9 Andre kilder  2011  2872.0  2872.0         32.0             1.13
260    9 Andre kilder  2012  2863.0  2863.0         -9.0            -0.31
261    9 Andre kilder  2013  2888.0  2888.0         25.0             0.87
262    9 Andre kilder  2014  2812.0  2812.0        -76.0            -2.63
263    9 Andre kilder  2015  2722.0  2722.0        -90.0            -3.20
264    9 Andre kilder  2016  2669.0  2669.0        -53.0            -1.95
265    9 Andre kilder  2017  2587.0  2587.0        -82.0            -3.07
266    9 Andre kilder  2018  2503.0  2503.0        -84.0            -3.25
267    9 Andre kilder  2019  2398.0  2398.0       -105.0            -4.19
268    9 Andre kilder  2020  2341.0  2341.0        -57.0            -2.38
269    9 Andre kilder  2021  2294.0  2294.0        -47.0            -2.01
270    9 Andre kilder  2022  2242.0  2242.0        -52.0            -2.27
271    9 Andre kilder  2023  2227.0  2227.0        -15.0            -0.67

In [216]:
# Filtrer ut "Alle kilder"
df_alle_kilder = df_total[df_total['kilde_(aktivitet)'].str.lower().str.contains("alle kilder")].copy()

# Finn riktig kolonnenavn for utslipp
kol_utslipp = [kol for kol in df_alle_kilder.columns if "utslipp" in kol and "co2" in kol][0]

# Konverter utslipp til tall hvis nødvendig
df_alle_kilder[kol_utslipp] = pd.to_numeric(df_alle_kilder[kol_utslipp], errors="coerce")

# Finn høyeste og laveste år
maks = df_alle_kilder.loc[df_alle_kilder[kol_utslipp].idxmax()]
minst = df_alle_kilder.loc[df_alle_kilder[kol_utslipp].idxmin()]

# Skriv ut resultat
print(f"Høyeste utslipp:{int(maks['år'])} med {int(maks[kol_utslipp])} (1 000 tonn CO₂-ekv.)")
print(f"Laveste utslipp: {int(minst['år'])} med {int(minst[kol_utslipp])} (1 000 tonn CO₂-ekv.)")

Høyeste utslipp:2007 med 56548 (1 000 tonn CO₂-ekv.)
Laveste utslipp: 2023 med 46654 (1 000 tonn CO₂-ekv.)

In [217]:
# Gjennomsnitt gruppert etter ti-år
df_alle_kilder['tiår'] = (df_alle_kilder['år'] // 10) * 10

# Beregn gjennomsnittlig utslipp per tiår
tiårs_snitt = df_alle_kilder.groupby('tiår')[kol_utslipp].mean().reset_index()
tiårs_snitt[kol_utslipp] = tiårs_snitt[kol_utslipp].round(2)
print(" Gjennomsnittlig utslipp per tiår (1 000 tonn CO₂-ekv.):")
display(tiårs_snitt)

 Gjennomsnittlig utslipp per tiår (1 000 tonn CO₂-ekv.):

   tiår  utslipp_til_luft_(1_000_tonn_co2-ekvivalenter,_ar5)
0  1990                                           51988.90
1  2000                                           55203.50
2  2010                                           53432.20
3  2020                                           48612.75

In [218]:
statistikk_luft, df_total, df = dataanalyse.analyser_fil("../data/gyldig_historisk_luftkvalitet.csv", datokolonne="tid", groupby="år")

for stoff, df in statistikk_luft.items():
    print(f"Statistikk: {stoff}")
    display(df[['år', 'gjennomsnitt']].round(2))

Analyse av:../data/gyldig_historisk_luftkvalitet.csv
-------------------------------------------------
Statistikk: elgeseter_no2_ugm3_hour

c:\Users\johan\Documents\Mappe\src\dataanalyse.py:27: UserWarning: Parsing dates in %d.%m.%Y %H:%M format when dayfirst=False (the default) was specified. Pass `dayfirst=True` or specify a format to silence this warning.
  df[datokolonne] = pd.to_datetime(df[datokolonne], errors='coerce')

     år  gjennomsnitt
0  2024          16.1

Statistikk: elgeseter_pm10_ugm3_hour

     år  gjennomsnitt
0  2024          17.4

Statistikk: elgeseter_pm2.5_ugm3_hour

     år  gjennomsnitt
0  2024          4.72

In [219]:
df_luft = pd.read_csv("../data/gyldig_historisk_luftkvalitet.csv", sep=",")

df_luft.columns = df_luft.columns.str.strip().str.lower()
df_luft.columns = df_luft.columns.str.replace(" ", "_").str.replace("µg/m³", "ugm3").str.replace("ug/m3", "ugm3")

df_luft["tid"] = pd.to_datetime(df_luft["tid"], errors="coerce")
df_luft["dato"] = df_luft["tid"].dt.date
df_luft["år"] = df_luft["tid"].dt.year
df_luft["måned"] = df_luft["tid"].dt.month
df_luft["time"] = df_luft["tid"].dt.hour

målinger = [kol for kol in df_luft.columns if "ugm3" in kol]

C:\Users\johan\AppData\Local\Temp\ipykernel_18160\1563204585.py:6: UserWarning: Parsing dates in %d.%m.%Y %H:%M format when dayfirst=False (the default) was specified. Pass `dayfirst=True` or specify a format to silence this warning.
  df_luft["tid"] = pd.to_datetime(df_luft["tid"], errors="coerce")

In [220]:
# Analyser hver måling separat
for stoff in målinger:
    print("-------------------------------------------------------------")
    print(f"               Analyse av: {stoff}")
    print("-------------------------------------------------------------")

    # Gjennomsnitt (dag) 
    # Kan brukes hvis relevant i vidre analyse, men blir ikke printet ut her 
    daglig = df_luft.groupby("dato")[stoff].mean().reset_index(name="daglig_snitt")

    # Gjennomsnitt (år)
    årlig = df_luft.groupby("år")[stoff].mean().reset_index(name="årssnitt")
    print("Årlig Gjennomsnitt:")
    display(årlig.round(2))

    # Gjennomsnitt (måned)
    månedlig = df_luft.groupby("måned")[stoff].mean().reset_index(name="månedssnitt")
    print("Månedlig gjennomsnitt:")
    display(månedlig.round(2))

    # Luftkvalitet snitt pr. klokkeslett
    rush = df_luft.groupby("time")[stoff].mean().reset_index(name="snitt_per_klokkeslett")
    print(f"Når på døgnet det er mest {stoff} :")
    display(rush.round(2))

    # Ekstremal verdier 
    maks_rad = df_luft.loc[df_luft[stoff].idxmax()]
    min_rad = df_luft.loc[df_luft[stoff].idxmin()]
    print(f"Ekstremer for {stoff}:")
    print(f"Maks: {maks_rad[stoff]:.2f} µg/m³ @ {maks_rad['tid']}")
    print(f"Min: {min_rad[stoff]:.2f} µg/m³ @ {min_rad['tid']}")

-------------------------------------------------------------
               Analyse av: elgeseter_no2_ugm3_hour
-------------------------------------------------------------
Årlig Gjennomsnitt:

     år  årssnitt
0  2024      16.1

Månedlig gjennomsnitt:

    måned  månedssnitt
0       1         6.58
1       2        27.86
2       3        19.46
3       4        15.68
4       5        15.75
5       6        11.56
6       7        10.21
7       8        12.44
8       9        16.49
9      10        17.63
10     11        11.62

Når på døgnet det er mest elgeseter_no2_ugm3_hour :

    time  snitt_per_klokkeslett
0      0                  12.21
1      1                   9.16
2      2                   7.15
3      3                   5.86
4      4                   5.03
5      5                   6.15
6      6                  10.61
7      7                  17.69
8      8                  22.47
9      9                  22.38
10    10                  20.55
11    11                  17.92
12    12                  18.62
13    13                  18.63
14    14                  19.63
15    15                  21.81
16    16                  21.72
17    17                  19.86
18    18                  18.86
19    19                  19.19
20    20                  19.62
21    21                  18.81
22    22                  17.97
23    23                  15.12

Ekstremer for elgeseter_no2_ugm3_hour:
Maks: 94.07 µg/m³ @ 2024-02-18 17:00:00
Min: 0.00 µg/m³ @ 2024-06-19 04:00:00
-------------------------------------------------------------
               Analyse av: elgeseter_pm10_ugm3_hour
-------------------------------------------------------------
Årlig Gjennomsnitt:

     år  årssnitt
0  2024      17.4

Månedlig gjennomsnitt:

    måned  månedssnitt
0       1        52.34
1       2        10.86
2       3        28.15
3       4        32.20
4       5        27.41
5       6        13.24
6       7         8.78
7       8         9.84
8       9        11.60
9      10        13.71
10     11        13.62

Når på døgnet det er mest elgeseter_pm10_ugm3_hour :

    time  snitt_per_klokkeslett
0      0                  13.14
1      1                  10.56
2      2                   8.83
3      3                   8.05
4      4                   7.08
5      5                   7.39
6      6                   9.78
7      7                  14.79
8      8                  18.83
9      9                  20.55
10    10                  20.05
11    11                  21.10
12    12                  22.45
13    13                  25.16
14    14                  23.70
15    15                  24.72
16    16                  23.47
17    17                  22.39
18    18                  20.58
19    19                  20.10
20    20                  19.94
21    21                  20.17
22    22                  19.54
23    23                  16.21

Ekstremer for elgeseter_pm10_ugm3_hour:
Maks: 287.57 µg/m³ @ 2024-04-08 16:00:00
Min: 0.00 µg/m³ @ 2024-02-02 14:00:00
-------------------------------------------------------------
               Analyse av: elgeseter_pm2.5_ugm3_hour
-------------------------------------------------------------
Årlig Gjennomsnitt:

     år  årssnitt
0  2024      4.72

Månedlig gjennomsnitt:

    måned  månedssnitt
0       1         2.06
1       2         5.21
2       3         4.97
3       4         4.80
4       5         7.26
5       6         5.23
6       7         3.57
7       8         3.93
8       9         4.41
9      10         3.51
10     11         4.10

Når på døgnet det er mest elgeseter_pm2.5_ugm3_hour :

    time  snitt_per_klokkeslett
0      0                   4.93
1      1                   4.31
2      2                   3.92
3      3                   3.70
4      4                   3.30
5      5                   3.22
6      6                   3.50
7      7                   4.04
8      8                   4.63
9      9                   4.93
10    10                   4.84
11    11                   5.04
12    12                   4.99
13    13                   5.19
14    14                   4.89
15    15                   4.89
16    16                   4.86
17    17                   4.82
18    18                   5.11
19    19                   5.42
20    20                   5.73
21    21                   5.76
22    22                   5.93
23    23                   5.49

Ekstremer for elgeseter_pm2.5_ugm3_hour:
Maks: 37.45 µg/m³ @ 2024-04-16 08:00:00
Min: 0.00 µg/m³ @ 2024-01-31 17:00:00