In [50]:
import pandas as pd
import sys, os
sys.path.append(os.path.abspath("../src"))

import dataanalyse
import importlib
importlib.reload(dataanalyse)

In [ ]:
#Temperaturdata
statistikk_temp = dataanalyse.analyser_fil("../data/temp_gloshaugen_historisk.csv",datokolonne="tidspunkt",groupby="måned")

for navn, df in statistikk_temp.items():
    print(f"\nStatistikk: {navn}")
    display(df.round(2))

Analyse av:../data/temp_gloshaugen_historisk.csv
-------------------------------------------------

Statistikk: temperatur_måned

      år  måned   mean  median   std
0   2024      1  -5.26   -5.00  6.80
1   2024      2  -0.80    0.40  4.61
2   2024      3   2.66    3.00  2.78
3   2024      4   5.63    5.80  4.02
4   2024      5  15.96   15.60  4.55
5   2024      6  15.07   14.70  4.14
6   2024      7  16.78   16.25  3.30
7   2024      8  16.26   16.10  2.92
8   2024      9  13.26   13.00  4.39
9   2024     10   8.54    8.80  2.95
10  2024     11   2.75    2.90  3.97
11  2024     12   1.42    1.70  3.46

Statistikk: temperatur_år

     år  mean  median   std
0  2024  7.74    7.65  8.42

In [ ]:
#Klimasaddutslipp
statistikk_klimagass = dataanalyse.analyser_fil("../data/klimagassutslipp_renset.csv",sep=",",datokolonne="år",groupby="år")

for navn, df in statistikk_klimagass.items():
    print(f"\nStatistikk: {navn}")
    display(df.round(2))

Analyse av:../data/klimagassutslipp_renset.csv
-------------------------------------------------

Statistikk: utslipp til luft (1 000 tonn co2-ekvivalenter, ar5)_år

      år      mean  median       std
0   1990  11410.67  5298.0  15910.65
1   1991  10885.89  5109.0  15120.88
2   1992  10544.44  5461.0  14515.41
3   1993  10973.11  5664.0  15140.90
4   1994  11407.00  5858.0  15777.98
5   1995  11498.00  6554.0  15834.17
6   1996  12142.56  6960.0  16700.55
7   1997  12137.44  7246.0  16703.36
8   1998  12154.44  7463.0  16749.45
9   1999  12377.22  7526.0  17029.17
10  2000  12242.78  6499.0  16922.76
11  2001  12520.89  6588.0  17276.82
12  2002  12229.78  6546.0  16823.38
13  2003  12367.78  6471.0  16978.67
14  2004  12450.44  6584.0  17132.07
15  2005  12199.11  6428.0  16810.51
16  2006  12193.33  6786.0  16757.13
17  2007  12566.22  7008.0  17286.22
18  2008  12228.00  6789.0  16831.03
19  2009  11675.78  6737.0  15904.21
20  2010  12190.11  7198.0  16571.08
21  2011  11966.33  7289.0  16297.71
22  2012  11835.11  7493.0  16151.67
23  2013  11884.67  7605.0  16215.66
24  2014  11973.00  7653.0  16367.97
25  2015  12092.78  7470.0  16566.88
26  2016  11896.33  7398.0  16279.85
27  2017  11741.89  7506.0  16069.00
28  2018  11775.78  7751.0  16119.18
29  2019  11383.00  7692.0  15601.06
30  2020  10999.78  7384.0  15069.25
31  2021  10961.11  7435.0  14987.75
32  2022  10883.00  7671.0  14896.07
33  2023  10367.44  7637.0  14184.97